import copy

def test_search(
    users,
    identities,
    minimal_community,
    create_record_with_community,
    logged_client_request,
    base_urls,
    get_or_create_community,
    search_clear,
):
    owner = users[0]
    owner_identity = identities[0]

    minimal_community2 = copy.deepcopy(minimal_community)
    minimal_community2['slug'] = "second"

    community_1 = get_or_create_community(owner_identity, minimal_community)
    community_2 = get_or_create_community(owner_identity, minimal_community2)

    record1 = create_record_with_community(
        owner_identity, owner, {"slug": minimal_community["slug"]}
    )

    search_response = logged_client_request(owner, "get",
        f"{base_urls['base_record_communities_url']}{record1.json['id']}/communities"
                     )
    # situations with more communities are tested in oarepo-requests
    assert len(search_response.json["hits"]["hits"]) == 1
    assert search_response.json["hits"]["hits"][0]["id"] == str(community_1.id)