name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 3 * * 1"
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason"
        required: false
        default: "Manual trigger"

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        requirements-level: [pypi]
        db-service: [postgresql12]
        search-service: [elasticsearch7]
        include:
          - db-service: postgresql12
            DB_EXTRAS: "postgresql"
    env:
      DB: ${{ matrix.db-service }}
      SEARCH: ${{ matrix.search-service }}
      EXTRAS: all,${{ matrix.DB_EXTRAS }},${{ matrix.search-service }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install pip wheel setuptools poetry
          poetry config virtualenvs.create false
          poetry install --extras "pyyaml json5"
          cat poetry.lock

      - name: Run tests
        run: |
          pytest tests
